.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: sticky;
    top:0;
    z-index: 1000;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex:1;
}
.nav-links{
    display: flex;
    gap:30px;
    justify-content: center;
    flex:2;
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    color:#333;
    font-weight: 500;
    font-size: 25px;
    transition: color 0.3s ease;
}
.nav-links a:hover{
    color : #009688;
}
.nav-links a.active {
  color: #009688;
  border-bottom: 2px solid #009688;
  padding-bottom: 3px;
}
.nav-buttons{
    display: flex;
    align-items: center;
    gap:15px;
    flex:1;
    justify-content: flex-end;
}
.nav-buttons a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.btn-outline{
    color:#009688;
    border: 2px solid #009688;
    background: transparent;
    border-radius: 5px;
    padding: 12px 26px;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}
.btn-outline:hover{
    background-color: #009688;
    color : #fff;
}

.btn-filled{
    background: #009688;
    color:#fff;
    border : 2px solid #009688;
    border-radius: 8px;
    padding: 14px 28px;
    font-size:25px;
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    transition: 0.3s;
    max-width: 500px;
}
.btn-filled:hover{
    background: #00796b;
    border-color: #00796b;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 6%;
    background: linear-gradient(to right, #e8f9f9, #f8ffff);
    gap:40px;
    flex-direction: column;
}
.hero-content{
    flex:1;
    max-width: 600px;
}
.tagline{
    color : #ff8a65;
    font-weight: 600;
    font-size: 13px;
    background: #ffeae2;
    padding: 8px 16px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
    
}
.tagline p{
    font-size: 500px;
}
.hero h1{
    font-size: 58px;
    line-height: 1.2;
    color:#222;
    margin-bottom: 35px;
    
    text-align: center;
}
.hero h1 span{
    color : #009688;
}
.hero p{
    color : #555;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 35px;
}
.hero-buttons{
    display: flex;
    align-items: center;
    gap : 20px;
    margin-top: 35px;
    margin-bottom: 50px;
}
.stats{
    display: flex;
    gap:40px;
    margin-top: 10px;
}
.stats h3{
    color:#009688;
    font-size: 28px;
    margin-bottom: 5px;
}
.stats p{
    color : #555;
    font-size: 16px;
}
.hero-image{
    flex:1;
    position: relative;
}
.hero-image img{
    width : 100%;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
.badge{
    position : absolute;
    bottom : -20px;
    right : 40px;
    background: white;
    display: flex;
    align-items: center;
    gap : 12px;
    padding :12px 18px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.badge i{
    font-size: 22px;
    color:#009688;
}
.badge h4{
    margin : 0;
    color:#222;
    font-size: 16px;
    font-weight: 600;
}
.badge p{
    margin : 0;
    color : #666;
    font-size: 14px;
}
.hero-image{
    flex:1;
    display: flex;
    justify-content: center;
}
.hero-image img{
    width : 100%;
    max-width: 800px;
    border-radius: 20px;
}
.logo, .nav-links, .nav-buttons {
    flex: unset;
}

.services-section{
    padding: 80px 10%;
    background: #f9fcff;
    text-align: center;
}
.section-label{
    display: inline-block;
    background :#e6f4ff;
    color:#009688;
    padding:8px 22px;
    font-size:15px;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}
.section-title{
    font-size:38px;
    font-weight:700;
    color:#1a1a1a;
    margin-bottom: 15px;
}
.section-subtitle{
    max-width: 700px;
    margin : 0 auto 50px;
    color:#555;
    font-size:18px;
    line-height: 1.6;
}
.service-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:35px
}
.service-card{
    background: #fff;
    padding:30px;
    border-radius:14px;
    text-align: left;
    border: 1px solid #e6e6e6;
    transition : all 0.3s ease;
}
.service-card:hover{
    border-color:#00a3e0;
    box-shadow:0 8px 25px rgba(0, 0, 0, 0.08);
}
.icon-box {
    width: 55px;
    height: 55px;
    background: #e0f5f3;
    color: #009688;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 15px;
}
.service-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #1a1a1a;
}
.service-card p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}
